body{
    background-color: rgb(0, 0, 0);
}

h1{
    color: aliceblue;
    text-align: center;
}
p{
    color: antiquewhite;
    font-size: 22px;
    text-align: center;
}

p2{
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
}


hr{
color: rgb(248, 247, 245);
}



button{
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 25px;
    border-radius: 12px;
    padding: 10px;
 
  
}

.player-img {
    width: 200px;
    height: 260px;
    object-fit: cover;
    border-radius: 12px;
  }
  

#Button2{
    position: absolute;
    right: 20px;
}

#Button1{

    position: absolute;
    left: 20px;
}

